:root { 
--gray_52:#f9f9fc; 
--gray_51:#f8f8fb; 
--deep_purple_A200_14:#634dec14; 
--bluegray_51:#eeeef2; 
--bluegray_50:#eeeff2; 
--indigo_A700_59:#384bf559; 
--deep_purple_400:#7e67ce; 
--green_A200:#59ef9e; 
--gray_50:#f8f8f8; 
--green_400:#57e676; 
--deep_purple_A100:#ad9fff; 
--deep_purple_A200:#634dec; 
--gray_301:#dddddd; 
--gray_400:#bbbcc5; 
--gray_302:#e3e3eb; 
--gray_901:#0d0f25; 
--gray_900:#0b132a; 
--gray_300:#e2e2e2; 
--deep_purple_A200_f5:#f5d42ff; 
--gray_100:#f3f3f7; 
--bluegray_900:#232533; 
--bluegray_702:#484964; 
--bluegray_701:#4e5664; 
--bluegray_800:#30235b; 
--bluegray_700:#4f5665; 
--orange_50:#faf3e1; 
--indigo_A700:#374af5; 
--bluegray_400:#808192; 
--bluegray_201:#abacbe; 
--bluegray_200:#afb5c0; 
--white_A700:#ffffff; 
}